
text {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
}

.axis {
    font-family: 'Roboto Mono', monospace;
    font-size: "15";
    font-weight: "700";
    color: #ffffff
}


.title {
    fill: white;
}

.bar {
    fill: rgba(9, 9, 121, 1);
}

#dviz > svg {
    padding: 50px;
}

