.sidebar {
    height: 100%;
    width: 15%;
    max-width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}

img {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    // background: linear-gradient(0deg, rgba(249, 252, 69, 1) 100%);
    // background-image: linear-gradient(0deg, #983275 0%, #811d5e 24%, #fd2f24 49%, #ff6f01 75%, #fed800 100%);
}

.descriptions-header {
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}



.accordion {
    text-align: center;
    background-color: #605f5f;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20;
    font-weight: 700;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    // outline:#ec1c1c;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: rgb(69, 69, 69)
}

.panel {
    padding: 18px 18px;
    background-color: rgb(52, 51, 51);
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    max-height: 0;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

