@import "./styles/heatmap.scss";
@import "./styles/css_reset.scss";
@import "./styles/barGraph.scss";
@import "./styles/sideBar.scss";

header {
    margin-left: 15%;
    // position: sticky;
    // top: 0;
}

#navbar {
    width: 100%;
    background-color: #050505;
    overflow: auto;
}

#navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

#navbar button {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    background-color: black;
    border: #000000;
    cursor: pointer;
}

#navbar a:hover {
    background-color: #6e6d6d;
}

#modal-button:hover {
    background-color: #6e6d6d;
}

// /*automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

#modal {
    display: none; //Hidden by default
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

#modal-content {
    background: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

#modal-text {
    padding: 80px;
}


.close {
    color: #aaa;
    float: right;
    font: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:rgb(216, 28, 28);
    text-decoration: none;
    cursor: pointer;
}


.main {
    margin-left:15%;
    // overflow: auto;
}


body {
    min-height: 100vh ;
    width: 100%;
    overflow: auto;
    background-color: #983275;
        background-image: linear-gradient(0deg, #983275 0%, #811d5e 24%, #fd2f24 49%, #ff6f01 75%, #fed800 100%);
    // background-color: #2b1d42;
    //     background-image: linear-gradient(0deg, #2b1d42 0%, #4a2f48 25%, #8f3d4b 49%, #f3b88d 75%, #fceccb 100%);
    // background: rgb(61, 58, 180);
    //     background: linear-gradient(0deg, rgba(61, 58, 180, 1) 0%, rgba(253, 72, 29, 1) 50%, rgba(249, 252, 69, 1) 100%);
}

#AppName {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 42;
    padding: 70px 0;
    text-align: center;
    color: white;
}

#App {
    position: sticky;
    top: 15;
    opacity: 0.9;
}

#link-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

#link-form > label{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 700;
    color: white;
    // display:flex;
    justify-content: center;
    
}





input::placeholder {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    
}

#input {
    border-color: white;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 300px;
}

#submit-button {
    width: 100px;
    height: 30px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: rgb(181, 49, 49);
    border-radius: 15px;
    border-color: white;
}

#submit-button:hover{
    width: 100px;
    height: 30px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    background-color: rgb(181, 49, 49);
    color: white;
    border-radius: 15px;
    border-color: rgb(181, 49, 49);
}

#dviz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
}


